.container {
  margin-top: 125px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.boatLeakImg {
  height: 400px;
  width: 100%;
}

.btnWrapper {
  margin-top: 25px;
  text-align: center;
}
